{% extends "base.html" %}
{% block content %}

<!--<div><header>  
        <div class = "botoes-noticias">
            <div id = "politica">
                <input type="button" value="Política">
            </div>

            <div id = "esportes">
                <input type="button" value="Esportes"> 
            </div>

            <div id = "saude">
                <input type="button" value="Saúde"> 
            </div>

            <div id = "outros">
                <input type="button" value="..." id="botaomais"> 
                
            </div>
            <div id = "novos-botoes">
               
            </div>
            
            <div id = "login">
                <input type="button" value = "Login">
            </div>

            <div id = "cadastro">
                <input type="button" value="Cadastro">
            </div>

        </div>

        
    </header>
        
    <main>
        <div id = "fraseh1">
            <h1>S1 News:</h1>
        </div>
        <div id = "frasep">
            <p>A sua Fonte de 
            <br>informação, Sempre em 
            <br>Primeiro Lugar.</p>
        </div>
        <div id = "frasep2">
            <p>Um site de notícias atualizado e confiável, oferecendo
            <br> informações suprindo a sua necessidade </p>
        </div>
        <div id = "acesse_botao">
            <input type="button" value="Acesse já!">
        </div>
    </main>
</div>-->

<div>
    <a href="{{ url_for('news.politics')}}" >Contato</a> 
</div>
{% endblock %}