@font-face {
    font-family: "Inter", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root{
    --TITLE: #1f2123;
    --SUB: #4f5257;
    
    --FONTE_TITLE:"Playfair Display", serif;;
    --FONTE_SUBTITLE: "Roboto", sans-serif;
    --FONTE_PADRAO:"Inter", sans-serif;

}
    header{
        margin: 0%;
        background-image: radial-gradient(#FFFFFF, #CCCCCC);
        height: 70px;
        width: auto;
    }

    .Assineja{
        margin-left: 78%;
        margin-top: 0.6%;
        display: flex;
        align-items: center;

    }

    .account_circle{
        margin-left: 5px;
        margin-right: 5px;
        margin-top:5px 
    }   

    .purpleheader{
        background-color: #1B2755;
        display: flex;
        align-items: center;
        height: 100px;
    }

    .bars{
        margin-top: 1%;
        margin-left: 20px;
        margin-right: 10px;
    }

    .menu{
        margin-top: 0.9%;
        font-family: "Inter", sans-serif;
    }

    .whiteline{
        margin-top: 17px;
        margin-right: -50px;
        margin-left: -20px
    }

body{
    margin: 0%;
    background-image: radial-gradient(#FFFFFF, #C5C5C5);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.titulodapagina{
    margin-left: 34%;
    font-size: 40px;    
}

.S1 {
    font-family: 'Inria Serif', serif;
    font-weight: 100;
}

.conteiner1 {
    display: grid; /* Ativa o Grid Layout */
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas iguais */
    gap: 20px; /* Espaçamento entre as colunas */
    grid-template-areas: "coluna1 coluna2 coluna3";
          

}
  
  .imagem1 {
    width: 100%; /* A imagem ocupa toda a largura da coluna */
    height: auto; /* Mantém a proporção original da imagem */
    grid-column: 1 / 2; /* Garante que a imagem fique na primeira coluna */
    filter: brightness(50%);
    border-radius: 15%;
  }

  .coluna1 {
    /* Coluna 1, onde ficará o título e o texto */
    padding: 4px;
    grid-area: coluna1;
    border-radius: 10%;
  }

  .titulo1 {
    grid-column: 1 / 2;
    top: 100%;
  }
  
  .texto1 {
    grid-column: 1 / 1; /* Garante que o texto fique na segunda coluna */
    font-size: 16px; /* Tamanho da fonte do texto */
    line-height: 1.5; /* Espaçamento entre linhas */
  }

  .coluna2 {
    /* Coluna 2, onde ficará o título e o texto */
    padding: 4px;
    grid-area: coluna2;
    border-radius: 10%;
  }

  .image2 {
    width: 100%; /* A imagem ocupa toda a largura da coluna */
    height: auto; /* Mantém a proporção original da imagem */
    grid-column: 2 / 2; /* Garante que a imagem fique na primeira coluna */
    filter: brightness(50%);
    border-radius: 15%;
    
  }

  .titulo2 {
    grid-column: 2 / 2;
    top: 100%;
  }

  .texto2 {
    grid-column: 1 / 1; /* Garante que o texto fique na segunda coluna */
    font-size: 16px; /* Tamanho da fonte do texto */
    line-height: 1.5; /* Espaçamento entre linhas */
  }

  .coluna3{
    padding: 4px;
    grid-area: coluna3;
    border-radius: 10%;
  }

  .image3{
    width: 100%;
    height: auto;
    grid-column: 3 / 3;
    filter: brightness(50%);
    border-radius: 15%;
  }

  .titulo3{
    grid-column: 3 / 3;
    top: 100%;
  }

  .texto3{
    grid-column: 3 / 3;
    font-size: 16px;
    line-height: 1,5;
  }

  .tira_hiperlink{
    text-decoration: none;
    color: black;
  }