body{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #dddddd, #dfd3c7, #9d97ce, #8599bb, #7eb5ce);
    background-size: 300% 300%; /* Amplia o tamanho para suavizar o movimento */
    animation: girarDegrade 10s linear infinite; /* Animação contínua */
    overflow: hidden;
}

@keyframes girarDegrade {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.botoes-noticias{
    margin-left: 10%;
    margin-top: 2%;
    flex-direction: row;
    display: flex;
}
#politica, #esportes, #saude, #outros {
    margin-left: 1%;
    padding: 5px;
}
#login input[type="button"]{
    margin-left: 10%;
    border-radius: 0; 
    padding: 10px 70px;
    background-color: rgb(217, 217, 217);
    margin-top: 4%;
}    
#cadastro input[type="button"]{
    margin-left:24%;
    border-radius: 0;
    padding: 10px 70px;
    background-color: rgb(217, 217, 217);
    margin-top: 3.4%;
}
#novos-botoes{
    margin: 0;
    margin-top: 4%;
    margin-left: 37%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    opacity: 0;
    transform: translatey(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#novos-botoes.visible {
    opacity: 1;
    transform: translateY(0);
}
#botao1, #botao2, #botao3{
    margin-top: 3%;
}
.bloqueado {
    pointer-events: none; 
}

/*Todos os botões */
input[type="button"] {
    padding: 12px 50px;
    font-size: 18px;     /* Aumenta o tamanho da fonte */
    border: none; /* Adiciona uma borda */
    border-radius: 20px;  /* Arredonda os cantos */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição */
}

input[type="button"]:hover {
    background-color: #c4c6c9; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
#login input[type="button"]:hover {
    background-color: #787c81; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
#cadastro input[type="button"]:hover {
    background-color: #787c81; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
#acesse_botao input[type="button"]{
    margin-left: 8%;
    border-radius: 0px;
    padding: 10px 70px;
    background-color: rgb(217, 217, 217);
}
#acesse_botao input[type="button"]:hover{
    background-color: #787c81; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
#fraseh1{
    margin-left: 4%;
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
#frasep{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-top: -1%;
    margin-left: 4%;
}
#frasep2{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    margin-top: 2%;
    margin-left: 4%;
}
footer{
    margin-top: 9%;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
}
