<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esporte</title>
    <link rel="stylesheet" href="/static/css/style_ereport.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <div class="bars">
                    <img src="/static/images/bars.png">
                </a>              
            </div>
            <div class="menu">
                <label style="color: white; margin-top: 100px;">menu</label>
            </div>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Esporte</div>
    </p>
</div>

<div class="main_text">
    <div class="title_report3">
        <h1> Botafogo garante título da Libertadores 2024 e entra para a história </h1>
    </div>
    
    <div class="subtitle_report3">
        <h3> O Botafogo fez história na noite de 30 de novembro de 2024, ao conquistar
            a Copa Libertadores pela primeira vez em sua trajetória. Em uma final épica,
            coroando uma campanha de superação, organização e espírito coletivo. </h3>
    </div>
    <img class= "image" src="/static/images/botafogo-taca.png">
    <p>A partida começou com um grande desafio para o Botafogo. Com Gregore expulso logo
    aos 29 segundos de jogo, o time teve que se adaptar rapidamente à inferioridade numérica.
    No entanto, o Botafogo demonstrou resiliência e o planejamento tático de Artur Jorge, que
    optou por não realizar substituições e manteve o time com uma postura defensiva mais sólida.
    A estratégia deu certo quando Luiz Henrique, um dos grandes destaques da final, abriu o placar
    para o Botafogo, aproveitando um erro do goleiro do Atlético-MG, Everson, e colocando o time à frente.</p>

    <p>Mesmo com o Atlético-MG pressionando, o Botafogo manteve o controle do jogo. Alex Telles
    ampliou a vantagem com um gol de pênalti, e Júnior Santos selou a vitória com um gol que fez
    a festa dos torcedores botafoguenses. Eduardo Vargas, atacante chileno do Atlético, ainda diminuiu
    para o time mineiro, mas foi insuficiente para impedir a festa do Botafogo, que se consagrou campeão
    da Libertadores com um placar final de 3 a 1.</p>

    <img class="image" src="/static/images/Atletico-MG-x-Botafogo.png">
    
    <p>Esta conquista é um marco histórico para o Botafogo, que, após mais de 120 anos de espera,
    finalmente ergueu a taça da Libertadores. O título é ainda mais significativo, pois garante ao
    clube uma vaga na fase de grupos da próxima edição da competição e a chance de disputar o Mundial
    de Clubes 2025. Para a torcida, a vitória representa a coroação de um projeto bem-sucedido e a ascensão
    do clube ao cenário internacional.</p>

    <img class="image" src="/static/images/botafogo-taca2.png">
    <p>A vitória na Libertadores 2024 também é um alicerce para o futuro do Botafogo, que agora
    almeja novos títulos e uma permanência sólida entre as potências do futebol internacional.
    Os torcedores, que celebraram a conquista com grande festa nas ruas de Buenos Aires, têm muito
    o que comemorar, enquanto o Botafogo agora olha para o próximo desafio: a disputa do Mundial de Clubes 2025.</p>
</div>
</body>
</html>