<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_ereport.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <div class="bars">
                    <img src="/static/images/bars.png">
                </a>              
            </div>
            <div class="menu">
                <label style="color: white; margin-top: 100px;">menu</label>
            </div>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Esporte</div>
    </p>
</div>

<div class="main_text">
    <div class="title_report3">
        <h1> Corinthians aumenta chances de classificação para a Libertadores 2025 </h1>
    </div>
    
    <div class="subtitle_report3">
        <h3> O Corinthians deu um passo importante em sua busca por uma vaga na Libertadores
            2025 ao vencer adversários diretos na reta final do Brasileirão. </h3>
    </div>
    <img class= "image" src="/static/images/torcida.png">
    <p>O Corinthians deu um passo importante em sua busca por uma vaga na Libertadores 2025 ao conquistar
        sete vitórias consecutivas no Brasileirão Betano 2024. A sequência de triunfos tem sido decisiva
        para o time se aproximar da zona de classificação, e os torcedores já começam a sonhar com o retorno
        à competição continental.</p>

    <p>A jornada vitoriosa começou no dia 17 de outubro, quando o Timão derrotou o Athletico-PR por 5 a 2.
        Esse triunfo impulsionou o time, que seguiu com bons resultados: venceu o Cuiabá por 1 a 0 no dia
        28 de outubro, e no clássico contra o Palmeiras, no dia 4 de novembro, levou a melhor com um 2 a 0
        convincente. A sequência continuou com um suado 2 a 1 contra o Vitória em 9 de novembro, e seguiu
        com a vitória sobre o Cruzeiro por 2 a 1 em 20 de novembro. No dia 24 de novembro, o Corinthians
        bateu o Vasco por 3 a 1, e, por fim, a vitória por 3 a 0 sobre o Criciúma em 30 de novembro completou
        a impressionante série.</p>

    <img class="image" src="/static/images/yuri_alberto.png">

    <p>Com essas vitórias, o time saltou para a 9ª colocação, acumulando 47 pontos e aumentando significativamente
        as chances de uma vaga na Libertadores. Agora, a equipe se prepara para os últimos jogos do campeonato, que
        serão cruciais para consolidar essa meta.</p>

    <p>O técnico Ramón Díaz tem sido elogiado pela transformação do time, que ganhou consistência tanto no ataque
        quanto na defesa. Com grandes destaques como Yuri Alberto, Rodrigo Garro e Memphis, o Corinthians segue com
        muita confiança e com a torcida ao seu lado, acreditando que pode superar as expectativas e garantir a tão
        sonhada vaga para 2025.</p>
</div>
</body>
</html>