<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_esportes.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p> 
            <a href="{{ url_for('Cadastro_page')}}" class="tira_hiperlink">
            <label> Assine já </a>
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <a href="{{ url_for('menu_page') }}"><div class="bars">
                <img src="/static/images/bars.png">
            </a>              
        </div>
        <div class="menu">
            <label style="color: white; margin-top: 100px;">menu</label>
        </div></a>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Esportes</div>
    </p>
</div>
<br>
<div class="conteiner1">
    <div class="coluna1">
        <img src="/static/images/botafogo.png" class="imagem1">
        <a href="{{ url_for('esporte_report4_page')}}" class="tira_hiperlink">
        <h1 class="titulo1">Botafogo garante título da Libertadores 2024 e entra para a história</h1>
        <h2 class="texto1">O Botafogo fez história na noite de 30 de novembro de 2024, ao conquistar
            a Copa Libertadores pela primeira vez em sua trajetória. Em uma final épica,
            coroando uma campanha de superação, organização e espírito coletivo.</h2>
        </a>
    </div>

    <div class="coluna2">
        <img src="/static/images/corinthians.png" class="image2">
        <a href="{{ url_for('esporte_report5_page')}}" class="tira_hiperlink">
        <h1 class="titulo2">Corinthians aumenta chances de classificação para a Libertadores 2025</h1>
        <h2 class="texto2">O Corinthians deu um passo importante em sua busca por uma vaga na Libertadores
        2025 ao vencer adversários diretos na reta final do Brasileirão.</h2>
        </a>
    </div>

    <div class="coluna3">
        <img src="static/images/sport.png" class="image3">
        <a href="{{ url_for('esporte_report6_page')}}" class="tira_hiperlink">
        <h1 class="titulo3">Sport Club do Recife conquista acesso à Série A e faz história</h1>
        <h2 class="texto3">Após uma campanha consistente na Série B, o Sport Clube do Recife garantiu
        seu retorno à Série A do Brasileirão. Com resultados expressivos, e sufoco no final da competição.</h2>
        </a>
    </div>

    
</div>
</body>
</html>