<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S1 News - A sua fonte de informação</title>
    <link rel="stylesheet" href="/static/css/style1.css">
</head>
<body>
    <header>  
        <div class = "botoes-noticias">
            <div id = "politica">
                <input type="button" value="Política">
            </div>

            <div id = "culinaria">
                <input type="button" value="Culinária"> 
            </div>

            <div id = "esportes">
                <input type="button" value="Esportes"> 
            </div>

            <div id = "tempo">
                <input type="button" value="Tempo"> 
            </div>

            <div id = "atual">
                <input type="button" value="Atual"> 
            </div>

            <div id = "outros">
                <input type="button" value="..."> 
            </div>

            <div id = "login">
                <input type="button" value = "Login">
            </div>

            <div id = "cadastro">
                <input type="button" value="Cadastro">
            </div>

        </div>

        
    </header>
        
    <main>
        <div id = "fraseh1">
            <h1>S1 News:</h1>
        </div>
        <div id = "frasep">
            <p>A sua Fonte de 
            <br>informação, Sempre em 
            <br>Primeiro Lugar.</p>
        </div>
        <div id = "frasep2">
            <p>Um site de notícias atualizado e confiável, oferecendo
            <br> informações suprindo a sua necessidade </p>
        </div>

        <div class="teste">
        <h1 id="login">Login</h1>
        <form action="submit">
            <label><b>Email:</b></label>
            <input type="email" maxlength="50" minlenght="10" name="email" id="email">
            <br>
            <label><b>Senha:</b></label>
            <input type="password" maxlength="15" minlength="6" name="password" id="password">
            <input type="submit">
        </form>
        <br>
        <br> 
        <textarea rows="4" cols="50"></textarea>
        <br>
        <br>
        </div>
    </main>

    <footer>
        <h1></h1>
        <br> 
        <br>
        <br>
    </footer>

</body>
</html>