<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <section class="head1">
            <p>Assine já</p>
            <p><img id="circle" src="circle.png"> Conta S1 NEWS</p>
        </section>
        <section class="head2">
            <div class="head2b">
                <p id="menu"><img src="/static/css/Barrinhas.png" width="15px" height="15px">
            menu</p>
                <p id="s1">S1</p>
                <fieldset id="campo"><p id="buscar">BUSCAR</p></fieldset>
         </div>
        </section>
    </header>
    <main>
        <fieldset id="politica"><p class="fonte">Política</p></fieldset>
        <fieldset id="culinaria"><p class="fonte">Culinária</p></fieldset>
        <fieldset id="esportes"><p class="fonte">Esportes</p></fieldset> 
        <section class="content">
            <p>a</p>
        </section>
    </main>
    </body>
</html>