<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_policyR.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News
            </label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <a href="{{ url_for('menu_page') }}"><div class="bars">
                <img src="/static/images/bars.png">
            </a>              
        </div>
        <div class="menu">
            <label style="color: white; margin-top: 100px;">menu</label>
        </div></a>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Política</div>
    </p>
</div>

<div class="main_text">
    <div class="title_report3">
        <h1> Protestos em território Brasileiro </h1>
    </div>
    
    <div class="subtitle_report3">
        <h3> Protestos em Brasília Reivindicam Direitos Trabalhistas: O Que Está Acontecendo?  </h3>
    </div>
    <img class= "image" src="/static/images/protest.png">
    <p>Nos últimos dias, milhares de trabalhadores se reuniram em Brasília para protestar contra o que consideram um retrocesso nos direitos trabalhistas. 
        O movimento busca reivindicar melhores condições de trabalho, reajuste no salário mínimo e a ampliação de benefícios sociais. 
        A manifestação tem ganhado força entre sindicatos e trabalhadores de diversas áreas, que dizem sentir que suas conquistas estão sendo ameaçadas.</p>

    <p>O protesto é uma resposta às recentes reformas e cortes que afetam diretamente a classe trabalhadora, gerando tensão entre os manifestantes e o governo. 
        Acompanhe os detalhes dessa mobilização e os motivos que têm levado tantos trabalhadores às ruas.</p>

    <p>Os protestos em Brasília não são apenas por um aumento salarial. As manifestações refletem um conjunto de pedidos por mudanças nas políticas trabalhistas. Entre os principais pontos reivindicados estão:

        Melhorias no Salário Mínimo: Muitos trabalhadores exigem uma correção que acompanhe a inflação, garantindo poder de compra e dignidade no sustento das famílias.
        Condicões de Trabalho: A exigência de melhores condições de segurança no trabalho e combate ao assédio no ambiente de trabalho são demandas fortes.
        Reforma na Previdência: O movimento questiona a reforma previdenciária e pede a revisão de pontos que consideram prejudiciais para os trabalhadores mais antigos.</p>
</div>
</body>
</html>