<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política</title>
    <link rel="stylesheet" href="/static/css/style_reports.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <div class="bars">
                    <img src="/static/images/bars.png">
                </a>              
            </div>
            <div class="menu">
                <label style="color: white; margin-top: 100px;">menu</label>
            </div>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Política</div>
    </p>
</div>



<div class="main_text">
    <div class="title_report3">
        <h1> Eleições Municipais no Cabo de Santo Agostinho: Novo Prefeito é Eleito em Vitória Acirrada </h1>
    </div>
    
    <div class="subtitle_report3">
        <h3> Cabo de Santo Agostinho elege novo prefeito em disputa acirrada; candidato vitorioso promete foco no desenvolvimento e na união da cidade  </h3>
    </div>
    <img class= "image" src="/static/images/politics-image3.png">
    <P> Neste domingo (24), os moradores do Cabo de Santo Agostinho participaram das eleições municipais de 2024, que decidiram o futuro político da cidade para os próximos quatro anos. Em uma disputa acirrada, o candidato Luiz Cabral de Oliveira Filho, do Solidariedade, foi eleito prefeito, derrotando seu principal adversário Keko do Armazem, que representava a oposição no município.</P>
    <P>A eleição foi marcada por uma mobilização intensa, com uma participação eleitoral superior a 46,64%, refletindo o engajamento da população nas questões locais. O pleito teve grande repercussão nas redes sociais e na mídia local, com os candidatos promovendo debates sobre temas como saúde, educação, infraestrutura e segurança pública.</P>
    <P>O novo prefeito eleito, Lula Cabral, já se pronunciou após a vitória e destacou a importância da união entre todos os cabenses para o desenvolvimento do município. "Esta vitória não é minha, é de cada cidadão que acredita em um Cabo de Santo Agostinho mais justo e próspero. Estamos prontos para enfrentar os desafios e transformar a cidade em um exemplo de progresso para o estado de Pernambuco", afirmou.</P>
    <P>A transição de governo será iniciada nas próximas semanas, com a formação da equipe de trabalho e a definição das principais ações para os primeiros 100 dias de gestão. O prefeito eleito também se comprometeu a estabelecer um diálogo constante com a população e buscar soluções inovadoras para melhorar a qualidade de vida dos cabenses.</P>
    <P>A derrota do candidato Keko do Armazem da oposição também gerou reações nas ruas, com promessas de intensificar o trabalho fiscalizador e manter a luta por melhorias no município. "Continuaremos atuando em defesa dos interesses da nossa gente, fiscalizando e cobrando ações que realmente façam diferença para todos", declarou Keko do Armazem em seu discurso de agradecimento aos eleitores.</P>
    <img class= "image2" src="/static/images/keko.webp">
    <P>A vitória de Lula Cabral nas eleições do Cabo de Santo Agostinho reflete um cenário político em que a população busca renovação, mas também exige responsabilidade e compromisso com o desenvolvimento local. A expectativa é de que a gestão que se inicia agora leve adiante promessas de melhoria e avanços significativos para o município.</P>
    <img class= "image3" src="/static/images/lula1.jpeg">
</div>
</body>
</html>