<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_reports.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <div class="bars">
                    <img src="/static/images/bars.png">
                </a>              
            </div>
            <div class="menu">
                <label style="color: white; margin-top: 100px;">menu</label>
            </div>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Política</div>
    </p>
</div>



<div class="main_text">
    <div class="title_report3">
        <h1> Aumento do salário mínimo é aprovado pelo Congresso </h1>
    </div>
    
    <div class="subtitle_report3">
        <h3> Medida beneficia milhões de trabalhadores e busca combater a inflação e a desigualdade.  </h3>
    </div>
    <img class= "image" src="/static/images/salario.png">
    <p>Após intensos debates e negociações, o Congresso Nacional aprovou nesta segunda-feira (25) o aumento do salário
        mínimo, que passará a valer a partir de janeiro de 2024. A decisão, que foi amplamente discutida por parlamentares
        e especialistas, é vista como um passo importante para ajudar a combater a alta inflação e melhorar o poder de compra
        de milhões de brasileiros. O novo valor do salário mínimo será de R$ 1.500,00, representando um aumento de 8% em relação
        ao valor atual de R$ 1.400,00. O reajuste, aprovado por ampla maioria, é baseado no Índice Nacional de Preços ao Consumidor
        (INPC), que reflete a variação dos preços dos produtos e serviços consumidos pelas famílias de baixa renda.</p>

    <p>A medida recebeu apoio de diversas entidades sindicais e de movimentos sociais, que destacam a importância de
        uma remuneração digna para os trabalhadores brasileiros. Em um comunicado oficial, a Central Única dos Trabalhadores
        (CUT) comemorou a aprovação do aumento e destacou que a medida é um avanço, embora ainda insuficiente para superar as
        desigualdades sociais no país. Por outro lado, opositores do reajuste apontaram que a medida pode gerar impacto nas contas
        públicas e aumentar a pressão inflacionária. No entanto, o governo afirmou que as estratégias para controlar a inflação e
        incentivar o crescimento econômico serão mantidas e que o aumento do salário mínimo é uma ação pontual para aliviar a situação
        dos trabalhadores.</p>

    <p>O reajuste no salário mínimo é uma das principais medidas econômicas do governo para 2024 e traz a expectativa de
        melhoria para muitos brasileiros. Contudo, a aprovação não encerra o debate sobre a necessidade de reformas estruturais
        para garantir o crescimento sustentável da economia e a diminuição das desigualdades sociais. A discussão sobre um possível
        aumento adicional nos próximos anos continua a ser um tema recorrente nos bastidores do Congresso. O aumento será implementado
        em um cenário de desafios econômicos, mas a promessa do governo é de que o impacto positivo será sentido por todos os brasileiros,
        especialmente aqueles em situação de vulnerabilidade.</p>
</div>
</body>
</html>
