<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia - Ministério da Saúde - Queimadas e Secas</title>
    <link rel="stylesheet" href="static/css/stylesaudereport.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <div class="bars">
                    <img src="/static/images/bars.png">
                </a>              
            </div>
            <div class="menu">
                <label style="color: white; margin-top: 100px;">menu</label>
            </div>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Saúde</div>
    </p>
</div>



<div class="main_text">
    <div class="title_report">
        Saúde vai intensificar ações para mitigar efeito de queimadas e seca.
    </div>
    
    <div class="subtitle_report">
        <h3>"Estamos vivenciando um quadro que exige atenção imediata...", afirmou a ministra</h3>
    </div>
    <img class= "image" src="static/images/trindade.jpg">
    <P>Em entrevista ao programa Bom Dia, a Ministra da Saúde, Trindade, anunciou um conjunto de medidas estratégicas voltadas para mitigar os efeitos nocivos das queimadas e secas sobre a saúde da população. Estas ações buscam minimizar os danos respiratórios e outras condições de saúde agravadas pela poluição e pela escassez hídrica, especialmente nas regiões mais afetadas.</P>
    <P>As queimadas liberam uma grande quantidade de partículas tóxicas no ar, como o material particulado fino (PM2.5), que tem sido associado a problemas respiratórios graves, como asma, bronquite e até infarto. Além disso, a seca prolongada pode comprometer a qualidade da água, favorecendo surtos de doenças infecciosas.</P>
        <P>"Estamos vivenciando um quadro que exige atenção imediata. Nossa prioridade é garantir a saúde respiratória das populações mais vulneráveis e assegurar o acesso a recursos hídricos de qualidade", afirmou a ministra.</P>
    <p>A proposta, segundo a entidade, é evitar o que ela se refere como “invasão de competências exclusivas do médico”. No comunicado, o conselho cita ainda “um quadro de descontrole e de desrespeito” à chamada Lei do Ato Médico e cobra a adoção de medidas urgentes para assegurar a obediência ao que está previsto na legislação brasileira.</P>
    <h1>Medidas Emergenciais</h1>
    <P>Para enfrentar os desafios, o Ministério da Saúde delineou as seguintes iniciativas:</P>
    <P>- Distribuição de máscaras e medicamentos: Em regiões com altos níveis de poluição do ar, haverá o envio de máscaras PFF2 e medicamentos para tratar doenças respiratórias.</P>
    <P>- Monitoramento de qualidade do ar: Serão instalados novos sistemas de monitoramento nas áreas mais críticas.</P>
    <P>- Unidades móveis de saúde: Equipes serão deslocadas para áreas rurais e comunidades ribeirinhas, facilitando o acesso ao atendimento.</P>
    <P>- Campanhas de conscientização: Campanhas de conscientização serão realizadas, alertando a população sobre os cuidados com a exposição à fumaça e os riscos à saúde.</P>
    <h1>Um dever em comum</h1>
    <P>O efeito combinado das queimadas e secas afeta não apenas a saúde pública, mas também a economia e a segurança alimentar. "O enfrentamento desse problema exige um esforço integrado entre Saúde, Meio Ambiente e outros setores," concluiu a ministra.</P>
    <P>A sociedade também é chamada a participar, seja por meio do combate às práticas ilegais de queimadas, seja cobrando políticas públicas sustentáveis.</P>
    <img class= "image" src="static/images/queimadas.jpg">
</div>

</body>