<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_sportR.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div> Conta S1 News
            </label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <a href="{{ url_for('menu_page') }}"><div class="bars">
                <img src="/static/images/bars.png">
            </a>              
        </div>
        <div class="menu">
            <label style="color: white; margin-top: 100px;">menu</label>
        </div></a>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="page_title" style="color: white">Esporte</div>
    </p>
</div>

<div class="main_text">
    <div class="title_report3">
        <h1> Sport Club do Recife conquista acesso à Série A e faz história </h1>
    </div>
    
    <div class="subtitle_report3">
        <h3> Após uma campanha consistente, com o final bem apertado, o Sport Clube
        do Recife garantiu seu retorno à Série A do Brasileirão. Com resultados expressivos,
        e sufoco no final da competição. </h3>
    </div>
    <img class= "image" src="/static/images/celebration.png">
    <p>Em uma temporada marcada por altos e baixos, o Sport Club do Recife fez história em 2024
    ao garantir seu retorno à Série A do Campeonato Brasileiro. A equipe comandada por Pepa viveu
    momentos de tensão, mas fechou a competição com a segurança do acesso direto, após conquistar
    a terceira posição na tabela da Série B com 66 pontos, um feito importante para o clube, que
    estava em busca da recuperação após anos fora da elite do futebol nacional.</p>

    <p>A última rodada foi crucial para o Leão, que precisava vencer o Santos em casa para selar
    seu acesso. A vitória, por 2 a 1, foi decidida de forma brilhante por Lucas Lima, grande destaque
    da temporada. O meia, que foi peça-chave no esquema tático do time, marcou os dois gols da partida
    e garantiu que o Sport, com o apoio de sua fanática torcida, voltasse à Série A após um ano de
    dificuldades. Com atuações decisivas como essa, Lucas Lima foi um dos principais responsáveis pela
    campanha vitoriosa, somando 10 assistências e comandando o ataque do Sport ao longo do torneio</p>

    <img class="image" src="/static/images/santos-x-sport.png">
    
    <p>Além de seu desempenho individual, a campanha do Sport foi marcada por uma excelente sequência
    de jogos e uma recuperação impressionante nas rodadas finais. O time se manteve focado e, mesmo
    com adversários próximos na luta pelo acesso, conseguiu garantir sua vaga na elite com consistência e resiliência.</p>

    <img class="image" src="/static/images/twisted-sport.png">
    <p>O retorno à Série A não só significa uma importante conquista esportiva, mas também um impacto
    financeiro significativo para o clube, que poderá contar com uma receita maior de cotas de televisão,
    patrocínios e bilheteiras, aliviando a pressão financeira que pairava sobre a equipe. Com a ajuda
    de Lucas Lima e outros jogadores-chave, o Sport poderá agora se planejar para os desafios da próxima
    temporada na Série A</p>
</div>
</body>
</html>