<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style3.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <br>
    <div class="Assineja">
        <p>
            <label>Assine já 
                <div class="account_circle">
                    <img src="/static/images/account_circle.png">
                </div>Conta S1 News</label>
        </p>    
    </div>
</header>
<div class="purpleheader">
    <p>
        <label>
            <div class="bars">
                    <img src="/static/images/bars.png">
                </a>              
            </div>
            <div class="menu">
                <label style="color: white; margin-top: 100px;">menu</label>
            </div>
        </label>
        <div class="whiteline">
            <img src="/static/images/white-line.png" height="40" width="90">
        </div>
        <h1 class="S1" style="color: white; margin-left: 30px; margin-top: 2.4%;">S1</h1>
        <div class="titulodapagina" style="color: white">Saúde</div>
        <label>
            <img src="">
            <input type="text" class="search" placeholder="BUSCAR">
        </label>
    </p>
</div>
<div class="grid-container">
        <a href="{{ url_for('report1_page') }}"><div class="grid-item1">
        <div class="image-report1">
        <img src="/static/images/apostaonline.png" height="670" width="600">
        </div>
        <div class="title1">
            <h1>Grupo interministerial avaliará impactos de apostas sobre saúde mental.</h1>
            <h2>Iniciativa reunirá Ministério da Saúde e da Fazenda.</h2>
        </div>
        </a>
    </div>  
    
        <a href="{{ url_for('report2_page') }}"><div class="grid-item2">
        <div class="image-report2">
        <img src="static/images/nisia_trindade02.png" height="320" width="600">
        </div>
        <div class="title2">
            <h1>Saúde vai intensificar ações para mitigar efeito de queimadas e seca.</h1>
            <h2>Nisia Trindade deu entrevista ao programa Bom dia, ministra.</h2>
        </div>
        </a>
    
    </div>
    <div class="grid-item3">
        <div class="image-report3">
            <a href="{{ url_for('report3_page') }}">
            <img src="static/images/telemedicina_1901220148.png" height="320" width="600">
        </div>
        <div class="title3">
            <h1>Cursos de estética não oferecem formação para atividades de risco</h1>
            <h2>Até 81% das vagas são vinculadas ao ensino a distância, diz CFM</h2>
        </div>
    </div>
</div>
</a>
</body>
</html>